<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/src/style/style.css">
  <link rel="stylesheet" href="../static/src/style/output.css">
  <title>Domino Card Viewer</title>
  <link rel="shortcut icon" type="image/x-icon" href="https://play-lh.googleusercontent.com/28eVsfA3_lAXPKSpN9hOtPxehm101oI5LVOLe-Z95fyx6ugjVxeDouq2Eul8x23Ryw">

</head>

<body>
  <h1 id="main-title" class="text-center">Domino Card Viewer</h1>
  <div id="dominoContainer"></div>

  <script src="../static/src/js/script.js"></script>
</body>

</html>